<div style="margin-left: 10px;">
  <h1>{{title}}</h1>
  <nav>
      <a routerLink="/home">Home</a>
      <a routerLink="/studis">Studenten</a>
  
  </nav>
  <router-outlet></router-outlet>
  </div>
  