h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
    }
    h2, h3 {
    color: #444;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    }
    body {
    margin: 2em;
    }
    body, input[type="text"], button {
    color: #333;
    font-family: Cambria, Georgia, serif;
    }
    /* everywhere else */
    * {
    font-family: Arial, Helvetica, sans-serif;
    }
    
    nav a {
        padding: 1rem;
        text-decoration: none;
        margin-top: 10px;
        display: inline-block;
        background-color: #e8e8e8;
        color: #3d3d3d;
        border-radius: 4px;
      }
      
      nav a:hover {
        color: white;
        background-color: #42545C;
      }
      nav a.active {
        background-color: black;
      }
      