<img src="https://www.karlsruhe.dhbw.de/fileadmin/_processed_/0/5/csm_logo_v2_1829b3f598.jpg" alt="dhbw logo" style="width: 300px;height: 200px;">

<h2>Willkommen auf unserer Lehrplattformsseite für die DHBW-Karlsruhe</h2>
<p>AKTUELLE INFORMATIONEN: WIE SIE IHRE LEHRE ONLINE WEITERFÜHREN KÖNNEN <br>

    Das Education Support Center der DHBW Karlsruhe heißt Sie herzlich willkommen auf der Lernplattform Moodle!<br>
    
    Hier finden Sie zahlreiche Informationen zu Studium und Lehre, persönliche und allgemeine Unterrichtsmaterialien sowie Ansprechpersonen bei Fragen rund um den Studienbetrieb.<br>
    
    Für unsere Lehrenden richten wir gerne einen persönlichen Moodle-Raum ein. Welche Informationen wir dafür von Ihnen benötigen erfahren Sie hier.<br>
    
    Für den Einstieg in Moodle empfehlen wir Ihnen unseren Moodle-Baukasten. Dort finden Sie Moodle-Anleitungen zu den jeweiligen Aktivitäten, Beispiele für Lehrszenarien und vieles<br>
    
    mehr! Stöbern Sie auch im ESC-Bereich, es erwarten Sie viele praktische Tipps, Ideen und Anregungen für die (Online-) Lehre. </p>
