<div *ngIf="studi">
  


    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Studenteninformationen von {{studi.matrikelnummer}} im Studiengang {{studi.studiengang | uppercase}}
        </mat-card-title>
      </mat-card-header>
    
      <mat-card-content>
    
        <div><span>Name: </span>{{studi.name}}</div>
        <br>
        <div>
          <label for="studi-gang">Studiengang: </label>
          <input id="studi-gang" [(ngModel)]="studi.studiengang" placeholder="Studiengang">
          <h3>Noten</h3>
          <ul *ngFor="let note of studi.noten">
            <li [ngStyle]="{'color':getColor(note)}">{{note | gradeconversion}}</li>
          </ul>
        </div>
      </mat-card-content>
    
      <mat-card-actions>
      </mat-card-actions>
    </mat-card>
    </div>
    