p {
    font-family: Lato;
    }
    .example-card {
    max-width: 1200px;
    margin: 4px;
    border: 3px solid #000;
    }
    
    mat-card-subtitle{
    font-size:15px
    }
    
    mat-card-title{
    color:gray;
    font-size:20px
    }
