<h2>Studenten Übersicht</h2>
<div>
    <ul  class="studi" *ngFor="let student of studenten">
        <li (click)="OnSelect(student)">{{student.name}} | {{student.matrikelnummer}}</li>
    </ul>
</div>
<app-studi-details [studi]="selectedStudi"></app-studi-details>